<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="TextFilePath" value="C:\dotnet_files\txt\"/>
    <add key="BaseDirPath" value="C:\dotnet_files\db\"/>
  </appSettings>
</configuration>